@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
::-moz-placeholder {
    color: white;
    opacity: 1;
  }
:-ms-input-placeholder {
    color: white;
    opacity: 1;
  }
::-ms-input-placeholder {
    color: white;
    opacity: 1;
  }
::placeholder {
    color: white;
    opacity: 1;
  }
body{
    /* background-color: rgba(0,0,0,0.8); */
    margin: 0px;
    
}

.formcontainer{
  color: antiquewhite;
  width: 80%;
  /* border: 2px solid red; */
  margin: 70px auto;
  border: 2px solid rgb(41, 38, 38);
  padding: 5px;
  border-radius: 10px;
}
