@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');


body{
    background-color: black;
}
.card img{
    height: 250px;
    width: 100%;
}
.hh{
    height: 744px;
    width: 100%;
}
.container{
    margin: 20px auto;
}

/* .container{
    margin: 10px auto;
} */


/* footer start here  */

/* small grid for placing help */
.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.span-1-of-2 {
	width: 100%;
}
/* background color added */
.footerbox {
  background-color: #444444;
}
/* nav divs stylings and placement */
.footer-nav li,
.social-nav li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav{
  margin-top: 25px;
  list-style: none;
  float: left;
}
.social-nav {
  list-style: none;
  font-size: 22px;
  float: right;
}
/* removing initial decoration */
.footer-nav a:link ,
.footer-nav a:visited,
.social-nav a:link,
.social-nav a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

/* Hover effect to footer nav  */
.footer-nav a:hover ,
.footer-nav a:active {
  color: #ddd;
}

/* Hover effect to social media logos */
.fa-facebook-square:hover {
  color: #3b5998;
}
.fa-twitter:hover  {
  color: #00aced;
}
.fa-github:hover {
  color: #333;
}
.fa-instagram:hover {
  color: #517fa4;
}
/* Last Paragraph Style */
footer p {
  color: #888;
  text-align: center;
  font-size: 16px;
  margin-top: 90px;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/* Footer adjusted for small screens */
@media only screen and (max-width: 480px) {
	.span-1-of-2 {
		width: 100%;
	}

  .footer-nav,.social-nav {
    float: none;
    text-align: center;
    padding: 10px;
  }
  .footer-nav{margin-top: 25px;}
  footer p {
    margin-top: 0;
  }
  .hh{
    height: 300px;
    width: 100%;
}
}
