@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');



body{
    background-color: black;
    color: white;
}
#navbar{
    margin: -6px;
    border-radius: 11px;
    outline: none;
    background: black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    height: 58px;
}
#logo{
    width: 56px;
    border-radius: 11px;
    height: 56px;
}
#navbar ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}
#navbar li{
    padding: 22px;
    list-style: none;
}
#navbar a{

    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 0px 16px;
    font-size: 25px;
}

/* front intro  */
#intro{

    height: 88vh;
    margin: 10px 0px;

}
#intro h1{
    position: relative;
    text-align: center;
    top: 41%;
    font-size: 3rem;
    font-family: 'Bangers', cursive;
    color: black;
    -webkit-animation-name: heading;
            animation-name: heading;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
#intro p{
    position: relative;
    text-align: center;
    top: 37%;
    font-size: 24px;
    font-style: italic;
    color: black ;
    font-weight: bold;
    -webkit-animation-name: heading;
            animation-name: heading;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
#intro::before{
    content: "";
    background: center / cover no-repeat url("https://cutewallpaper.org/21/navy-ship-wallpapers/Merchant-Navy-Wallpaper-54-Pictures.jpg");
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.8;
    z-index: -1;
    -webkit-animation-name: back;
            animation-name: back;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes back{
    0%{
        top: 5px;
    }
    50%{
        top: 40px;
        background: center / cover no-repeat url("https://i.pinimg.com/originals/8f/72/5a/8f725a4912f3c9516df042f84e725a22.jpg");

    }
    100%{
        top: 5px;
    }
}
@keyframes back{
    0%{
        top: 5px;
    }
    50%{
        top: 40px;
        background: center / cover no-repeat url("https://i.pinimg.com/originals/8f/72/5a/8f725a4912f3c9516df042f84e725a22.jpg");

    }
    100%{
        top: 5px;
    }
}
@-webkit-keyframes heading{
    0%{

    }
    50%{
     color: rgb(75, 203, 235);
    }
    100%{

    }
}
@keyframes heading{
    0%{

    }
    50%{
     color: rgb(75, 203, 235);
    }
    100%{

    }
}

/* type of the ships */
#card{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    background: rgb(218, 87, 87);
}
#card a{
-webkit-text-decoration-line: none;
        text-decoration-line: none;
}
.type h3{
    position: relative;
    top: 68px;
    font-size: 29px;
    color: white;
    padding: 0px;
    display: inline-block;
    opacity: 0.8;
}
.type h3:hover{
    transform: scale(1.2);
    opacity: 1;
}
#hh{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    color: red;
    background-color: rgb(20, 17, 17);
}
.type{
    border-radius: 20px;
    height: 200px;
    margin: 8px 10px;
    padding: 7px 146px;
}


#tanker{
    background: center / cover no-repeat url("https://i.pinimg.com/originals/8f/72/5a/8f725a4912f3c9516df042f84e725a22.jpg");
    z-index: -1;
}
#container{
    background: center / cover no-repeat url("https://alliswall.com/file/4495/1920x1200/16:9/giant-tanker-ship-wallpaper.jpg");
    z-index: -1;
}
#ice{
    background: center / cover no-repeat url("https://www.coolantarctica.com/Antarctica%20fact%20file/ships/Yamal-Ice-Breaker-basurama.org-CC-BY-NC-SA-3.0.jpg");
    z-index: -1;
}


/* information of the ships */
#info{
    display: flex;
    flex-direction: column;

    margin-top: 2px;
}
#tan{


    margin: auto;
    background: center / cover no-repeat url("https://c4.wallpaperflare.com/wallpaper/458/184/840/ship-oil-tanker-vehicle-sea-wallpaper-preview.jpg");
    background-color: rgb(0,0,0,0.5);

}

#con{


    background: center / cover no-repeat url("https://i.pinimg.com/originals/83/a9/02/83a90298d074c2e9a42cbdc3797ddff8.jpg");
}

#ic{

    background: center / cover no-repeat url("https://c4.wallpaperflare.com/wallpaper/804/978/435/icebreakers-nuclear-powered-icebreaker-rosatom-wallpaper-preview.jpg");
}
.ifo{
    height: 100vh;
    color: black;
    margin-top: 5px;
}

/* footer start here  */

/* small grid for placing help */
.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.span-1-of-2 {
	width: 100%;
}
/* background color added */
.footerbox {
  background-color: #444444;
}
/* nav divs stylings and placement */
.footer-nav li,
.social-nav li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav{
  margin-top: 25px;
  list-style: none;
  float: left;
}
.social-nav {
  list-style: none;
  font-size: 22px;
  float: right;
}
/* removing initial decoration */
.footer-nav a:link ,
.footer-nav a:visited,
.social-nav a:link,
.social-nav a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

/* Hover effect to footer nav  */
.footer-nav a:hover ,
.footer-nav a:active {
  color: #ddd;
}

/* Hover effect to social media logos */
.fa-facebook-square:hover {
  color: #3b5998;
}
.fa-twitter:hover  {
  color: #00aced;
}
.fa-github:hover {
  color: #333;
}
.fa-instagram:hover {
  color: #517fa4;
}
/* Last Paragraph Style */
footer p {
  color: #888;
  text-align: center;
  font-size: 16px;
  margin-top: 90px;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/* Footer adjusted for small screens */
@media only screen and (max-width: 480px) {
	.span-1-of-2 {
		width: 100%;
	}

  .footer-nav,.social-nav {
    float: none;
    text-align: center;
    padding: 10px;
  }
  .footer-nav{margin-top: 25px;}
  footer p {
    margin-top: 0;
  }
}
